* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  line-height: 1;
}

html {
  font-size: 16px;
} 

main > article {
  margin: 0 auto 0 auto;
  max-width: 996px;
  padding: 2rem;
  padding-top: 3rem;
}

main > article > h1 {
  margin-bottom: 3rem;
}

main > article > div {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 2rem;
}

@media (min-width: 36em) {
  main > article > div {
    grid-template-columns: 2fr 2fr;
  }
}
