* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  line-height: 1;
  -webkit-print-color-adjust: exact;
}

html {
  font-size: 16px;
}

strong {
  font-weight: 600;
}

main {
  margin: 0 auto 0 auto;
  max-width: 996px;
  padding: 2rem;
}

main > header {
  margin-bottom: 2rem;
}

main > article > header {
  margin-bottom: 3rem;
}

main > article > * + * {
  margin-top: 2rem;
}

a {
  outline: 2px dashed transparent;
  transition: outline-color 0.2s ease-in-out;
}
a:focus {
  outline: 2px dashed rgb(255, 45, 85);
}
