* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  line-height: 1;
}

html {
  font-size: 16px;
} 

article {
  margin: 0 auto 0 auto;
  max-width: 996px;
  padding: 2rem;
}

main > h1 {
  margin: 2rem auto 0 auto;
  max-width: 996px;
  padding-left: 2rem;
  padding-right: 2rem;
}

article > h1 {
  margin-bottom: 3rem;
}

article {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1rem;
}

@media (min-width: 800px) {
  article {
    grid-template-columns: 2fr 2fr;
    grid-gap: 2rem;
  }
}
